.flex-container {
    display: flex;
    flex-wrap: wrap;
}


.search-bar {
    flex-basis: 25%;
    margin: 10px;
}

.search-bar-content {
    background-color: #cccccc;
    padding: 5px;
}

.search-content {
    background-color: #eeeeee;
    flex-basis: 70%;
    margin: 10px;
    padding: 5px;
}